html{
  background-image: url('../assets/pexels-fox-212324.jpg');
  background-size: cover;
  color: black;
  text-align: center;
}
#gameSec{
   display: grid;
margin-top: 10vh;
   margin-left: 21vw;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   height: 30vh;
   width: 25vh;

   article{
      margin-right: 5vh;
      margin-bottom: 5vh;
   .front{
      display: block;
      height: 30vh;
      width: 25vh;
      background-image: url('../assets/dog-logo.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50px;
   }
   .back{
      display: none;
      backface-visibility: visible;
      transform: rotatey(0deg);
      height: 30vh;
      width: 25vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50px;
   }
   .back2{
      display: block;
      backface-visibility: visible;
      transform: rotatey(180deg);
      height: 30vh;
      width: 25vh;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50px;
   }
   .disable{
      color: white;
   }
   
}
}
